@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

/**
styles for mobile devices, phones
**/
@media (max-width: 544px) {
    html, body {
        color: #999999;
        font-family: Staatliches;
        font-size: 8px;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0 auto;
        max-width: 75rem;
        padding: 0 2.4rem;
    }

    header {
        animation: bgFadeIn 1s ease-in both;
        position: relative;
        padding: 3.5rem;
        text-align: center;
    }
    header:before {
        background: linear-gradient(rgba(0, 235, 235, 0.7), rgba(0, 235, 235, 0.7)), url("../resources/img/santamonica.jpg");
        background-color: #CCCCCC;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    @keyframes bgFadeIn {
        0% {
            background-color: white;
        }
        100% {
            background-color: rgba(255, 255, 255, 0);
        }
    }
    header .container {
        margin: 12rem auto;
    }
    header h1 {
        border-bottom: 2px solid #FFFFFF;
        border-top: 2px solid #FFFFFF;
        color: #FFFFFF;
        font-family: "Staatliches", cursive;
        font-size: 8.75rem;
        margin: 0;
    }

    header h3 {
        color: #FFF0A5;
        font-family: "ZCOOL KuaiLe", cursive;
        font-size: 3.75rem;
        font-style: italic;
        font-weight: 100;
        margin: 0;
    }

    .items{
        width: 100%;
        min-height: 60rem;
        height: auto;
        padding-top: 7rem;
        padding-bottom: 10rem;
    }

    .items_container{
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    #icon{
        height: 50%;
        width: 50%;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        margin-top: -15rem;
    }

    #description{
        font-size: 3rem;
        padding: 3rem 0;
        width: 100%;
        color: #000;
        line-height: 3.5rem;
        display: block;
    }

    #description a p{
        color: #FFFFFF;
        display: inline-block;
    }

    .section_title{
        font-size: 6rem;
        color: #000;
    }

    #article_description{
        padding-top: 5rem;
        line-height: 3.5rem;
        font-size: 3rem;
        color: #000;
    }

    #article_info{
        padding-top: 5rem;
        font-size: 2rem;
        color: #FFFFFF;
    }

    #update_description{
        padding-top: 2rem;
        line-height: 3.5rem;
        font-size: 3rem;
        color: #000;
    }

    #version_container{
        width: 100%;
    }

    .version_block{
        width: 100%;
    }

    .version_block h3{
        font-size: 4rem;
        color: black;
        line-height: 6rem;
    }

    .version_img{
        width: 100%;
    }

    #update_detail h3{
        padding-top: 2rem;
        font-size: 4rem;
        color: black;
        line-height: 6rem;
    }

    #update_detail{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 2.5rem;
        color: #000;
    }

    #photo_description{
        padding-top: 2rem;
        line-height: 3.5rem;
        font-size: 3rem;
        color: #000;
    }

    #photo_container{
        width: 100%;
    }

    .photo_block{
        width: 100%;
        display: block;
        margin-top: 3rem;
        border-radius: 2%;
    }


    #photo_more{
        padding-top: 2rem;
        line-height: 3.5rem;
        font-size: 3rem;
        color: #FFFFFF;
        display: inline-block;
    }

    #contact{
        width: 100%;
        height: auto;
        background: rgba(223,228,235,0.7);
        padding-bottom: 10rem;
    }

    .contact_block{
        margin: 0 auto;
        padding-top: 3rem;
        width: 80%;
        height: auto;
    }

    .bottom_links{
        font-size: 3rem;
        display: block;
        margin-top: 2rem;
    }

    #contact_title{
        font-size: 3rem;
        display: block;
        margin-top: 2rem;
        color: #000;
    }

    #contact_input{
        resize: none;
        margin-top: 2rem;
        height: 10rem;
        width: 30rem;
    }

    #contact_submit {
        background-color:#44c767;
        border:1px solid #18ab29;
        display:block;
        margin-top: 2rem;
        cursor:pointer;
        color:#ffffff;
        font-size:2rem;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        text-align: center;
        line-height: 4rem;
        width: 10rem;
    }
    #contact_submit:hover {
        background-color:#5cbf2a;
    }
    #contact_submit:active {
        position:relative;
        top:1px;
    }

    footer{
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
        background: rgba(223,228,235,0.7);
    }

}

/**
styles for non mobile devices
**/
@media (min-width: 544px){
    html, body {
        color: #999999;
        font-family: Staatliches;
        font-size: 10px;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0 auto;
        max-width: 75rem;
        padding: 0 2.4rem;
    }

    header {
        animation: bgFadeIn 1s ease-in both;
        position: relative;
        padding: 3.5rem;
        text-align: center;
    }
    header:before {
        background: linear-gradient(rgba(0, 235, 235, 0.7), rgba(0, 235, 235, 0.7)), url("../resources/img/santamonica.jpg");
        background-color: #CCCCCC;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    @keyframes bgFadeIn {
        0% {
            background-color: white;
        }
        100% {
            background-color: rgba(255, 255, 255, 0);
        }
    }
    header .container {
        margin: 12rem auto;
    }
    header h1 {
        border-bottom: 2px solid #FFFFFF;
        border-top: 2px solid #FFFFFF;
        color: #FFFFFF;
        font-family: "Staatliches", cursive;
        font-size: 8.75rem;
        margin: 0;
    }

    header h3 {
        color: #FFF0A5;
        font-family: "ZCOOL KuaiLe", cursive;
        font-size: 3.75rem;
        font-style: italic;
        font-weight: 100;
        margin: 0;
    }

    section {
    //padding: 2rem;
    }

    .items{
        width: 100%;
        min-height: 60rem;
        height: auto;
        padding-top: 7rem;
        padding-bottom: 10rem;
    }

    .items_container{
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    #icon{
        height: 20%;
        width: 20%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
    }

    #description{
        font-size: 3rem;
        padding: 0 2rem;
        width: 70%;
        color: #000;
        display: inline-block;
        vertical-align: top;
    }

    #description a p{
        color: #FFFFFF;
        display: inline-block;
    }

    .section_title{
        font-size: 6rem;
        color: #000;
    }

    #article_description{
        padding-top: 5rem;
        line-height: 5rem;
        font-size: 3rem;
        color: #000;
    }

    #article_info{
        padding-top: 5rem;
        font-size: 2rem;
        color: #FFFFFF;
    }

    #update_description{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 2.5rem;
        color: #000;
    }

    #version_container{
        width: 100%;
    }

    .version_block{
        width: 45%;
        display: inline-block;
    }

    .version_block:nth-child(2){
        margin-left: 5%;
    }

    .version_block h3{
        font-size: 4rem;
        color: black;
        line-height: 6rem;
    }

    .version_img{
        width: 100%;
    }

    #update_detail h3{
        padding-top: 2rem;
        font-size: 4rem;
        color: black;
        line-height: 6rem;
    }

    #update_detail{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 2.5rem;
        color: #000;
    }

    #photo_description{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 3rem;
        color: #000;
    }

    #photo_container{
        width: 100%;
    }

    .photo_block{
        width: 45%;
        display: inline-block;
        margin-top: 3rem;
        border-radius: 2%;
    }

    .photo_block:nth-child(even){
        margin-left: 3%;
    }

    #photo_more{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 3rem;
        color: #FFFFFF;
        display: inline-block;
    }

    #contact{
        width: 100%;
        height: 30rem;
        background: rgba(223,228,235,0.7);
    }

    .contact_block{
        vertical-align: top;
        display: inline-block;
        padding-top: 3rem;
        width: 20%;
        margin-left: 22%;
        height: auto;
    }

    .bottom_links{
        font-size: 2rem;
        display: block;
        margin-top: 2rem;
    }

    #contact_title{
        font-size: 2rem;
        display: block;
        margin-top: 2rem;
        color: #000;
    }

    #contact_input{
        resize: none;
        margin-top: 2rem;
        height: 10rem;
        width: 20rem;
    }

    #contact_submit {
        background-color:#44c767;
        border:1px solid #18ab29;
        display:block;
        margin-top: 2rem;
        cursor:pointer;
        color:#ffffff;
        font-size:2rem;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        text-align: center;
        line-height: 4rem;
        width: 10rem;
    }
    #contact_submit:hover {
        background-color:#5cbf2a;
    }
    #contact_submit:active {
        position:relative;
        top:1px;
    }

    footer{
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
        background: rgba(223,228,235,0.7);
    }
}

/**

other media that might be used in the future

@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {

    html, body {
        color: #999999;
        font-family: Staatliches;
        font-size: 10px;
        font-weight: 100;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0 auto;
        max-width: 75rem;
        padding: 0 2.4rem;
    }

    header {
        animation: bgFadeIn 1s ease-in both;
        position: relative;
        padding: 3.5rem;
        text-align: center;
    }
    header:before {
        background: linear-gradient(rgba(0, 235, 235, 0.7), rgba(0, 235, 235, 0.7)), url("../resources/img/santamonica.jpg");
        background-color: #CCCCCC;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        bottom: 0;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
    @keyframes bgFadeIn {
        0% {
            background-color: white;
        }
        100% {
            background-color: rgba(255, 255, 255, 0);
        }
    }
    header .container {
        margin: 12rem auto;
    }
    header h1 {
        border-bottom: 2px solid #FFFFFF;
        border-top: 2px solid #FFFFFF;
        color: #FFFFFF;
        font-family: "Staatliches", cursive;
        font-size: 8.75rem;
        margin: 0;
    }

    header h3 {
        color: #FFF0A5;
        font-family: "ZCOOL KuaiLe", cursive;
        font-size: 3.75rem;
        font-style: italic;
        font-weight: 100;
        margin: 0;
    }

    section {
    //padding: 2rem;
    }

    .items{
        width: 100%;
        min-height: 60rem;
        height: auto;
        padding-top: 7rem;
        padding-bottom: 10rem;
    }

    .items_container{
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    #icon{
        height: 20%;
        width: 20%;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
    }

    #description{
        font-size: 3rem;
        padding: 0 2rem;
        width: 70%;
        color: #000;
        display: inline-block;
        vertical-align: top;
    }

    #description a p{
        color: #FFFFFF;
        display: inline-block;
    }

    .section_title{
        font-size: 6rem;
        color: #000;
    }

    #article_description{
        padding-top: 5rem;
        line-height: 5rem;
        font-size: 3rem;
        color: #000;
    }

    #article_info{
        padding-top: 5rem;
        font-size: 2rem;
        color: #FFFFFF;
    }

    #update_description{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 2.5rem;
        color: #000;
    }

    #version_container{
        width: 100%;
    }

    .version_block{
        width: 45%;
        display: inline-block;
    }

    .version_block:nth-child(2){
        margin-left: 5%;
    }

    .version_block h3{
        font-size: 4rem;
        color: black;
        line-height: 6rem;
    }

    .version_img{
        width: 100%;
    }

    #update_detail h3{
        padding-top: 2rem;
        font-size: 4rem;
        color: black;
        line-height: 6rem;
    }

    #update_detail{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 2.5rem;
        color: #000;
    }

    #photo_description{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 3rem;
        color: #000;
    }

    #photo_container{
        width: 100%;
    }

    .photo_block{
        width: 45%;
        display: inline-block;
        margin-top: 3rem;
        border-radius: 2%;
    }

    .photo_block:nth-child(even){
        margin-left: 3%;
    }

    #photo_more{
        padding-top: 2rem;
        line-height: 5rem;
        font-size: 3rem;
        color: #FFFFFF;
        display: inline-block;
    }

    #contact{
        width: 100%;
        height: 30rem;
        background: rgba(223,228,235,0.7);
    }

    .contact_block{
        vertical-align: top;
        display: inline-block;
        padding-top: 3rem;
        width: 20%;
        margin-left: 22%;
        height: auto;
    }

    .bottom_links{
        font-size: 2rem;
        display: block;
        margin-top: 2rem;
    }

    #contact_title{
        font-size: 2rem;
        display: block;
        margin-top: 2rem;
        color: #000;
    }

    #contact_input{
        resize: none;
        margin-top: 2rem;
        height: 10rem;
        width: 20rem;
    }

    #contact_submit {
        background-color:#44c767;
        border:1px solid #18ab29;
        display:block;
        margin-top: 2rem;
        cursor:pointer;
        color:#ffffff;
        font-size:2rem;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
        text-align: center;
        line-height: 4rem;
        width: 10rem;
    }
    #contact_submit:hover {
        background-color:#5cbf2a;
    }
    #contact_submit:active {
        position:relative;
        top:1px;
    }

    footer{
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
        background: rgba(223,228,235,0.7);
    }
}
**/
